// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: #{$containerWidth}; // ПК
$fullhd: 1920.98px; // Full HD экраны
$laptopBig: 1679.98px; // Ноутбуки большие
$laptop: 1439.98px; // Ноутбуки
$laptopSmall: 1365.98px; // Ноутбуки маленькие
$pcSmall: 1279.98px; // Квадратные старые мониторы
$tabletBig: 1024.98px; // Большие планшеты, iPad'ы
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

$hdsm: $tabletBig;
$hdr: $laptopSmall;
$hd: $pcSmall;

// Переменные для адаптивного свойства (только целые числа !!!)
$xxl: 1920;
$xl: 1366;
$l: 1280;
$m: 1024;
$s: 768;
$xs: $minWidth;
